body {
  margin: 0;
  color: white;
  background-color: rgb(20, 20, 20);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-style: normal;
  font-family: 'Space Mono', monospace;
  max-width: 800px;
  max-height: 600px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}

header p {
    margin-top: 0;
}

header h1 {
    margin-bottom: 0;
}


.nasa-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;
}

.daily-pic {
  max-width: 90vw;
  height: auto;
  /* border: 2px solid rgb(100, 100, 100); */
  border-radius: 3px;
}

.title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
}

.explanation {
  width: 500px;
  padding: 30px 60px;
  font-size: 14px;
  background-color: rgb(50, 50, 50);
}

.more-btns {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.solar-flares-btn {
  width: 180px;
  background-color: grey;
  border: none;
  margin: 5px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.asteroids-btn {
  width: 180px;
  background-color: grey;
  border: none;
  margin: 5px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.earth {
  width: 180px;
  background-color: grey;
  border: none;
  margin: 5px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
/* .flares-text {
  margin-left: 50px;
} */

/* .sun-location {
  margin-left: 50px;
} */